.ActualNavButton {
  padding: 5px min(15px, 1vw);
  width: 100%;

  font-family: monospace;
  font-size: min(20px, 2vw);

  background-color: #00ADB5;
  color: #393E46;
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.NavContainer {
  margin: min(20px, 5vw);
  margin-left: 15vw;
  margin-right: 15vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
}

.NavButton {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.NavText {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  text-align: center;
  font-family: monospace;

  font-size: min(20px, 2vw);
  color: #393E46;
}

.WelcomeText {
  margin-top: 10vw;
  margin-left: 10vw;
  margin-right: 10vw;

  display:flex;
  flex-direction: column;
  align-items: center;

  width: 80%;

  text-align: center;
  font-family: monospace;
}

.WelcomeText-big {
  font-size: min(50px, 7vw);
  color: #222831;
}

.WelcomeText-small {
  font-size: min(15px, 2vw);
  color: #393E46;
}

