.WelcomeText {
  margin: auto;
  width: 80%;

  text-align: center;
  font-family: monospace;
}

.WelcomeText-big {
  font-size: min(50px, 7vw);
  color: #222831;
}

.WelcomeText-small {
  font-size: min(15px, 2vw);
  color: #393E46;
}